ul {

    position: sticky;
    top: 0;
    list-style-type: none;
    background-color: purple;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
    margin: 20px;
}

h1 {
    position: sticky;
    top: 50px;
}

div {
    height: 100px;
    width: 100px;
    background-color: red;
    position: fixed;
    bottom: 0;
    right: 0;
}